/* Common styles */
body {
    margin: 0;
}
.property-section, section, footer {
    padding: 30px 80px;
}
footer {
    background: linear-gradient(150deg, rgba(143,67,156,1) 0%, rgba(255,255,255,1) 100%); /* Default color if image color extraction isn't possible */
    text-align: center;
    color: #fff; /* Text color on footer */
}

/* Responsive styles */
@media only screen and (min-width: 768px) {
    /* For laptops and larger screens */
    .landscape-img {
        display: block; /* Show landscape image */
        width: 100%; /* Make image fill the container */
        height: auto; /* Maintain aspect ratio */
    }
    .mobile-img {
        display: none; /* Hide mobile image */
    }
}

@media only screen and (max-width: 767px) {
    /* For mobile devices */
    .landscape-img {
        display: none; /* Hide landscape image */
    }
    .mobile-img {
        display: block; /* Show mobile image */
        width: 100%; /* Make image fill the container */
        height: auto; /* Maintain aspect ratio */
    }
}
